.float-right {
  float: right;
}
.color-green {
  color: #60B56E;
}
.color-orange {
  color: #FF941A;
}
.color-red {
  color: #ED6C4C;
}
.color-gray {
  color: #686868;
}
.color-lightgray {
  color: #A0A0A0;
}
.fz-14 {
  font-size: 14px;
}

.mr-0 {
  margin-right: 0;
}
.mt-20 {
  margin-top: 20px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-100 {
  margin-top: 100px;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-100 {
  margin-bottom: 100px;
}
