.img-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  &--main {
    gap: 40px;
  }
  &__w325 {
    width:  325px;
    flex-shrink: 0;
  }
  &__all {
    flex-grow: 1;
  }

  &__left {
    width: 400px;
  }
  &__right {
    width: 400px;
  }
  &__img {
    width: 100%;
    display: block;
  }
  &__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    color: #252525;
    margin-bottom: 25px;
  }
}
