.information {
  &__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #686868;
    margin: 30px 0 20px 0;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #686868;
  }
  &__link {
    color: #A0A0A0;
  }
}
