.link {
  color: #252525;
  text-decoration: underline;

  &--overlap {
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
  &--trash {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding-bottom: 10px;
    &:hover {
      opacity: .8;
    }
  }
  &:hover {
    text-decoration: none;
  }

  &--gray {
    color: #A0A0A0;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
