.ol-simple {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 21px;
  color: #252525;
  counter-reset: ol-counter;

  li {
    counter-increment: ol-counter;
    position: relative;
    padding: 3px 0 0 24px;
    min-height: 30px;
    margin: 0 0 10px 0;
    &:before {
      position: absolute;
      left: 0;
      top: -3px;
      display: block;
      content: counter(ol-counter);
      font-weight: 500;
      font-size: 24px;
      line-height: 33px;
      color: #A30236;
    }
  }
}
