@property --p{
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

.pie {
  --p:20;
  --b:13px;
  --c:darkred;
  --w:150px;

  width:var(--w);
  height:var(--w);
  //aspect-ratio:1;
  position:relative;
  display:block;
  margin:0px 0px 10px 0px;


  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  color: #252525;
}
.pie:before,
.pie:after {
  content:"";
  position:absolute;
  border-radius:50%;
}
.pie:before {
  inset:0;
  background:
          radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
          conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie:after {
  inset:calc(50% - var(--b)/2);
  background:var(--c);
  transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}
.pie div {
  width:var(--w);
  height:var(--w);
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    content:"";
    position:absolute;
    border-radius:50%;
  }
  &:before {
    inset:0;
    opacity: .1;
    background:
            radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
            conic-gradient(var(--c) calc(100%),#0000 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
    mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  }
}

.pie--animate {
  animation:p 1s .5s both;
}
.no-round:before {
  background-size:0 0,auto;
}
.no-round:after {
  content:none;
}
@keyframes p {
  from{--p:0}
}

.pies {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 60px;
  padding-bottom: 60px;

  &__items {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 8px;
    color: #252525;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #686868;
  }

}
